.Hero {
  background-color: black;
  background-image:url('hero.jpg'); 
  background-size:cover; 
  height:100vh;
  position: relative;
}
.Footer {
  background-color: #26160C;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
  color: white;
  width: 100%;
  height:100px;
  text-align: center;
  padding-top: 20px;
}


/* Color Theme Swatches in Hex */
.hero-1-hex { color: #4E74BF; }
.hero-2-hex { color: #889ABF; }
.hero-3-hex { color: #A68256; }
.hero-4-hex { color: #735438; }
.hero-5-hex { color: #26160C; }

/* Color Theme Swatches in RGBA */
.hero-1-rgba { color: rgba(78, 116, 191, 1); }
.hero-2-rgba { color: rgba(136, 154, 191, 1); }
.hero-3-rgba { color: rgba(166, 130, 86, 1); }
.hero-4-rgba { color: rgba(115, 84, 56, 1); }
.hero-5-rgba { color: rgba(38, 22, 12, 1); }

/* Color Theme Swatches in HSLA */
.hero-1-hsla { color: hsla(219, 46, 52, 1); }
.hero-2-hsla { color: hsla(220, 30, 64, 1); }
.hero-3-hsla { color: hsla(32, 31, 49, 1); }
.hero-4-hsla { color: hsla(28, 34, 33, 1); }
.hero-5-hsla { color: hsla(23, 52, 9, 1); }
